pandas
fsspec
numpy
matplotlib
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
tqdm
pingouin
requests
bs4
db-dtypes
folium
shapely
geopandas
pyproj
openpyxl
dash
plotly
aiohttp
Pillow
grandalf
python-dotenv>=1.0.0
langchain>=0.3,<0.4
langchain-core>=0.3,<0.4
langchain-experimental>=0.3,<0.4
langchain-community>=0.3,<0.4
langchain-text-splitters>=0.3,<0.4
langgraph>=0.2.20,<0.3
langchain-openai>=0.2,<0.3
langchain-google-genai>=2,<3
openai>=1.65.3
pandas==2.2.2